// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right {
  float: right;
}
.bg-main {
  background: #656464;
}
.btn-main {
  background: #6bb2c6;
}
.nav-right-item {
  margin-left: auto;
}
